body {
	margin: 0;
	padding: 0;
	width:  100%;
	height: 100%;
	overflow: hidden;
	background-color: #D8DCE0;
	font: normal 13px/1.8em Calibri, Sans-serif;
}

#headerPanel {
	position: relative;
	z-index: 2;
	width: 100%;
	white-space: nowrap;
	font-size: 3em;
	padding: 0.5em 0;
	/*
	background-color: #508ACD;	/* for non-webkit browsers *
	background: -webkit-gradient(linear, left top, left bottom, from(#61A7F2), to(#508ACD));
	*/
	color: #FFF;
	text-shadow: -1px -1px 0 #CCC;
	background: #4096ee; /* old browsers */
	background: -moz-linear-gradient(top, #4096ee 0%, #4096ee 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4096ee), color-stop(100%,#4096ee)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#4096ee',GradientType=0 ); /* ie */
	background: -o-linear-gradient(top, #4096ee 0%,#4096ee 100%); /* opera */
}

.TTabPanel {
	float: left;
}

.TTabNamePanel {
	position: relative;
	z-index: 3;
	width: 100%;
	margin: 0;
	padding: 0.5em 0 0 0;
	cursor: default;
	list-style-type: none;
	background: #FFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFF 0%, #f6f6f6 47%, #E0E0E0 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(47%,#f6f6f6), color-stop(100%,#E0E0E0)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#E0E0E0',GradientType=0 ); /* ie */
	background: -o-linear-gradient(top, #FFF 0%,#f6f6f6 47%,#E0E0E0 100%); /* opera */
}

.TTabName {
	color: #0860B6;
	cursor: pointer;
	margin: 0 0 0 0.2em;
	padding: 0.2em 0.5em 2px 0.5em;
	display: inline;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #E0E0E0;/*AECEEF;*/
	border-radius: 0.3em 0.3em 0 0;
	background-color: #F4FAFF;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.TTabName.Selected {
	color: #1F75CC;
	border-bottom-color: #FFF;
	background-color: #FFF;
}

.TTabContentPanel {
	position: relative;
	z-index: 2;
	top: -1px;
	width: 100%;
	color: #000;
	border-top: 1px solid #CCC;
	border-radius: 0 0 0.2em 0.2em;
}

.TTabContent {
	padding: 1em;
	overflow: auto;
}

.TFlexTable {
	cursor: default;
	clear: both;
	display: block;
	overflow: auto;
	max-height: 500px;
	text-align: left;
	vertical-align: middle;
	border-collapse: collapse;
}

.TableHeader {
	color: #FFF;
	font-weight: bold;
	border-top: none;
	clear: both;
	float: left;
	margin: 0;
	padding: 0;
	/*background-color: #508ACD;	/* for non-webkit browsers *
	background: -webkit-gradient(linear, left top, left bottom, from(#61A7F2), to(#508ACD));
	-webkit-background-origin: 0;
	-webkit-background-size: 100%;
	*/
	background: #6db3f2; /* old browsers */
	background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#1e69de)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* ie */
	background: -o-linear-gradient(top, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* opera */
}

tr {
	border-bottom: 1px solid #DFDFDF;
}

tr.Focused {
	/*
	background-color: #F5F5F5;
	background: -webkit-gradient(linear, left top, left bottom, from(#F2F4F6), to(#E8EAF6));
	-webkit-background-origin: 0;
	-webkit-background-size: 100%;*/
	background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* ie */
	background: -o-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* opera */
}

tr.Selected {
	/*background-color: #D0FFE0;
	background: -webkit-gradient(linear, left top, left bottom, from(#DEEFFF), to(#BEDFFF));
	-webkit-background-origin: 0;
	-webkit-background-size: 100%;*/
	background: #ebf1f6; /* old browsers */
	background: -moz-linear-gradient(top, #ebf1f6 0%, #B4D6ED 50%, #A4CDE8 51%, #d5ebfb 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#B4D6ED), color-stop(51%,#A4CDE8), color-stop(100%,#d5ebfb)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* ie */
	background: -o-linear-gradient(top, #ebf1f6 0%,#B4D6ED 50%,#A4CDE8 51%,#d5ebfb 100%); /* opera */
}

.Col {float: left; padding-left: 0.5em;}
.Col.TagId, .Col.X, .Col.Y {text-align: right; padding-left: 0; padding-right: 0.5em;}

.Col.TagId {width: 35px;}
.Col.AssetId {width: 120px;}
.Col.Timestamp {width: 120px;}
.Col.X, .Col.Y {width: 20px;}
.Col.Battery {width: 40px; padding-right: 0.5em;}
.Col.More {width: 25px;}

.TMatchedString {
	color: Blue;
	font-weight: bold;
}

.TInfoBox {
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 1;
}

.TInfoBoxContent {
	user-select: all;
	-moz-user-select: all;
	-webkit-user-select: all;
	white-space: nowrap;
	padding: 5px 10px;
	position: relative;
	border-radius: 5px;
	border: 1px solid grey;
	background-color: #FFF;
	box-shadow: rgba(0, 0, 0, 0.4) 10px 10px 4px 4px;
}

.TPink {
	position: relative;
	top: -1px;
}

.TCastShadow {
	box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px 2px;
}

.TRoundedCorner {
	border-radius: 0.3em;
}

input[type=checkbox] {
	margin-bottom: 4px;
	vertical-align: middle;
}

label {
	vertical-align: middle;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

input[type=textbox], input[type=password] {
	height: 1.5em;
	padding: 0 5px;
	outline: none;
	margin: 0;
	border: 1px solid Gray;
	background: #FFF; /* old browsers */
	background: -moz-linear-gradient(top, #E8E8E8 0%, #FFF 35%); /* firefox */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E8E8E8), color-stop(35%,#FFF)); /* webkit */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E8E8E8', endColorstr='#FFFFFFFFF',GradientType=0 ); /* ie */

	background: -o-linear-gradient(top, #E8E8E8 0%,#FFF 35%); /* opera */
}

input[type=textbox]:hover, input[type=password]:hover {
	background-color: #FFF;
	border: 1px solid #0A5;
	box-shadow: rgba(0,170,85,0.2) 0px 0px 2px 2px;
}

input[type=textbox]:focus, input[type=password]:hover {
	background-color: #FFF;
	border: 1px solid #0A5;
	box-shadow: rgba(0,100,200,0.2) 0px 0px 2px 2px;
}

.TSearchBox {
	background: rgba(0,0,0,0) url(images/SearchIcon.png) no-repeat right center;
}

#assetSearchBox, #detectorSearchBox {
	margin: 0 0 1em 0;
	width: 290px;
	outline: none;
}

.TMapEntity {
	position: absolute;
	width: 35px;
	height: 35px;
	background: rgba(0,0,0,0) url(images/MarkerShadow.png) no-repeat 0 0;
}

.TAssetIcon {
	position: absolute;
	width: 24px;
	height: 35px;
	background: rgba(0,0,0,0) url(images/Markers.png) no-repeat 0 0;
}

.TDetectorIcon {
	position: absolute;
	width: 24px;
	height: 35px;
	background: rgba(0,0,0,0) url(images/Markers.png) no-repeat 0 -114px;
}

#elMapToolbar {
	z-index: 2;
	position: absolute;
	visibility: hidden;
	white-space: nowrap;
	border-radius: 19px;
	width: fixed;
}

/*
 *	CSS3 Buttons
 *
 *	Source: http://css3buttons.michaelhenriksen.dk/
 *
 */
button {
	float: left;
	margin: 0;
	padding: 0.2em 0.3em;
	outline: none;
	color: #3C3C3D;
	display: inline-block;
	border-radius: 2px;
	border: 1px solid #CACACA;
	text-shadow: 1px 1px 0 #FFF;
	text-decoration: none;
	background: #ECECEC url('images/ButtonBackground.png') 0 0 no-repeat;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
button:focus,
button:hover { color: #FFF; border-color: #388AD4; text-decoration: none; text-shadow: -1px -1px 0 rgba(0,0,0,0.3); background-position: 0 -40px; }

div.DeleteButton {
	margin: 6px 0 5px;
	width: 12px;
	height: 12px;
	background: url('images/DeleteIcon.png') no-repeat 0 0;
}

div.DeleteButton:hover {
	background-position: -13px 0;
}

button.Negative:focus,
button.Negative:hover { color: #FFFFFF; background-position: 0 -121px; background-color: #D84743; border-color: #911D1B; }
button.Negative:active { background-position: 0 -161px; background-color: #A5211E; border-color: #911D1B; }

button.Primary {
	font-weight: bold;
}

button:hover {
	color: #FFF;
	border-color: #388AD4;
	background-color: #2D7DC5;
	background-position: 0 -40px;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
}

button.Pill {
	padding: 5px 10px;
	border-radius: 19px;
}

button.LeftPill {
	padding: 5px 10px;
	border-radius: 19px 0px 0px 19px;
}

button.RightPill {
	padding: 5px 10px;
	border-radius: 0px 19px 19px 0px;
}

button.Middle {
	padding: 5px 10px;
	border-radius: 0px;
}

button.TextIcon {
	font-weight: 900;
	font: 1.2em "Courier New";
}

button.Translucent {
	opacity: 0.8;
}

button.Translucent:hover {
	opacity: 1;
}

.HasBorder {
	border: 1px solid #CCC;
}

legend {
	font-weight: bold;
}